.flex {
  margin: 0;
  padding: 0;
  height: 100vh;
  width: 100%;
  display: flex; }
  @media only screen and (max-width: 800px) {
    .flex {
      flex-direction: column; } }
  .flex_colomn1 {
    position: relative;
    width: 50%;
    height: 100vh; }
    @media only screen and (max-width: 800px) {
      .flex_colomn1 {
        width: 100%;
        height: 50vh; } }
  .flex_colomn1 {
    position: relative; }
    .flex_colomn1_content {
      transition: all .2s;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.171), rgba(0, 0, 0, 0.171)); }
    .flex_colomn1_video {
      position: relative;
      height: 100vh;
      width: 100%;
      object-fit: cover;
      -webkit-object-fit: cover; }
      @media only screen and (max-width: 800px) {
        .flex_colomn1_video {
          height: 50vh; } }
    .flex_colomn1:hover .flex_colomn1_content {
      background-color: #1b0096;
      transition: all .2s; }
  .flex_colomn2 {
    position: relative;
    width: 50%;
    height: 100vh; }
    @media only screen and (max-width: 800px) {
      .flex_colomn2 {
        width: 100%;
        height: 50vh; } }
  .flex_colomn2 {
    position: relative;
    background-image: url(../Images/poza_jocuri.jpg);
    background-size: cover;
    background-position: center center; }
    .flex_colomn2_content {
      transition: all .2s;
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      background-image: linear-gradient(to right, rgba(0, 0, 0, 0.171), rgba(0, 0, 0, 0.171)); }
    .flex_colomn2:hover .flex_colomn2_content {
      background-color: #1b0096;
      transition: all .2s; }

.box-shadow {
  background-color: rgba(0, 0, 0, 0.322);
  padding: 20px;
  padding-left: 30px;
  padding-right: 30px;
  box-shadow: 0 5rem 4rem rgba(0, 0, 0, 0.65); }

/*
    .flex {}
    .flex_colomn1{}
    */
.home {
  height: 100vh;
  width: 100%;
  background-image: linear-gradient(to right, rgba(0, 0, 0, 0.665), rgba(0, 0, 0, 0.665)), url(../Images/poza_header.jpeg);
  background-position: center center;
  background-size: cover; }
  .home_btn {
    position: absolute;
    top: 80%;
    transform: translateY(-50%);
    animation: moveloop 3s ease alternate infinite;
    -webkit-animation: moveloop 3s ease alternate infinite;
    box-shadow: 0 3rem 4rem rgba(255, 255, 255, 0.178); }

@keyframes moveloop {
  0% {
    transform: translateY(0px) translateX(0px); }
  25% {
    transform: translateY(-10px) translateX(0px); }
  50% {
    transform: translateY(10px) translateX(0px); }
  75% {
    transform: translateY(-10px) translateX(0px); }
  100% {
    transform: translateY(10px) translateX(0px); } }

@-webkit-keyframes moveloop {
  0% {
    transform: translateY(0px) translateX(0px); }
  25% {
    transform: translateY(-10px) translateX(0px); }
  50% {
    transform: translateY(10px) translateX(0px); }
  75% {
    transform: translateY(-10px) translateX(0px); }
  100% {
    transform: translateY(10px) translateX(0px); } }

.card_background {
  position: relative; }
  .card_background::after {
    content: "";
    position: absolute;
    left: -2.5%;
    top: -2.5%;
    height: 105%;
    width: 105%;
    background-color: red;
    z-index: -1;
    filter: blur(1em);
    background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a155ab, #5073b8, #1098ad, #6fba82);
    background-position: 0 0;
    background-size: 300%;
    transition: all 1s;
    animation: animatedgradient 3s ease alternate infinite;
    -webkit-animation: animatedgradient 3s ease alternate infinite; }

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 50% 50%; }
  100% {
    background-position: 100% 100%; } }

@-webkit-keyframes animatedgradient {
  0% {
    background-position: 0% 50%; }
  50% {
    background-position: 50% 50%; }
  100% {
    background-position: 100% 100%; } }
