.flex {
    margin: 0;
    padding: 0;
    height: 100vh;
    width: 100%;
    display: flex;
    @media only screen and (max-width: 800px) {
        flex-direction: column;   
    }
    &_colomn1 {
        position: relative;
        width: 50%;
        height: 100vh;
        @media only screen and (max-width: 800px) {
            width: 100%;
            height: 50vh;
        }

    }
    &_colomn1 {
        position: relative;
        &_content {
            transition: all .2s;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-image: linear-gradient(to right, rgba(0,0,0,0.171), rgba(0,0,0,0.171));
        }

        &_video {
            position: relative;
            height: 100vh;
            width: 100%;
            object-fit: cover;
            -webkit-object-fit: cover;
            @media only screen and (max-width: 800px) {
                height: 50vh;
            }
            
        }

        &:hover &_content{
            background-color: rgb(27, 0, 150);
            transition: all .2s;
        }

    }
    &_colomn2 {
        position: relative;
        width: 50%;
        height: 100vh;
        @media only screen and (max-width: 800px) {
            width: 100%;
            height: 50vh;
        }

    }
    &_colomn2 {
        position: relative;
        &_content {
            transition: all .2s;
            position: absolute;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background-image: linear-gradient(to right, rgba(0,0,0,0.171), rgba(0,0,0,0.171));
        }
        background-image: url(../Images/poza_jocuri.jpg);
        background-size: cover;
        background-position: center center;

        &:hover &_content{
            background-color: rgb(27, 0, 150);
            transition: all .2s;
        }

    }

}

.box-shadow {
    background-color: rgba(0,0,0,0.322);
    padding: 20px;
    padding-left: 30px;
    padding-right: 30px;
    box-shadow: 0 5rem 4rem rgba(0,0,0,0.65);
}
    /*
    .flex {}
    .flex_colomn1{}
    */